@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 16 px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}


a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: rgb(143, 103, 51);
}
a:visited {
    color: rgb(83, 84, 84);
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.info {
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.list {
    margin: 0 20px;
}
.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #86898f;
}

.link-list {
    padding: 0;
    list-style: none;
    color: #86898f;
}

.link-list li {
    color: #86898f;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.contacts h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input ,
.form-group textarea {
    width: 100%;
    border: none;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.row {
    display: flex;
    margin-bottom: 20px;
}


.row > .form-group {
    width: 50%;
    margin-right: 20px;
}


.info {
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.btn {
    color: rgb(254, 255, 255);
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9 ;
}

.avatar {
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
}

.container {
    max-width: 750px;
    margin: auto;
}

.social {
    background: green;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
    margin: 5px;
    border: 5px solid red;

}